.forgotcontainer {
  background-color: #52d3d8;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.resetinput {
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #10c1c7;
  cursor: pointer;
}

::placeholder {
  text-align: center;
  color: #fff;
}
.forgotcontainer > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 5px solid #fff;
  padding: 50px 20px;
  border-radius: 20px;
}
.forgotcontainer > div > h2 {
  margin-bottom: 40px;
}
.resetbtn,
.newpassbtn {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background-color: #10c1c7;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.forgotcontainer > div > p {
  font-size: 20px;
}
.newpasscontainer {
  background-color: #52d3d8;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.newpass > input {
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #10c1c7;
  cursor: pointer;
}
.newpass {
  margin-top: 30px;
}
.newpassform {
  border: 5px solid #fff;
  border-radius: 20px;
  padding: 80px 20px;
}
button {
  cursor: pointer;
}
